<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Royancouragements</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            background-image: url("/static/bg.png");
            background-repeat: repeat;
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <style type="text/css">
        #head {
            background-image: url("/static/header_bg.png");
            background-repeat: repeat;
        }

        .masthead h1.ui.header {
            margin-top: 0.5em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2.ui.header {
            font-size: 1.7em;
            margin-bottom: 1.5em;
            font-weight: normal;
        }

        @media only screen and (max-width: 700px) {
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2.ui.header {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>

</head>

<body>
    <div class="ui vertical masthead center aligned segment" id="head">
        <div class="ui text container">
            <h1 class="ui inverted header">LBC @ Royan</h1>
            <h2 class="ui inverted header">Et si on les encourageait un peu ?</h2>
        </div>
    </div>

    <div class="ui container" style="margin-top: 1em;">
        {{ if eq .posted "errors" }}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Des erreurs dans le formulaire il semblerait.
            </div>
        </div>
        {{ end }} {{ if eq .posted "remote_error" }}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Il semblerait qu'il y ai un problème avec le site marchons.com.
            </div>
        </div>
        {{ end }} {{ if eq .posted "success" }}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">
                Ton message a bien été envoyé ☺
            </div>
        </div>
        {{ end }}
        <!-- <div class="ui icon message">
            <i class="alarm outline icon"></i>
            <div class="content">
                <div class="header">
                    La course est à présent terminée !
                </div>
                <p>Vous avez été 36 personnes à leur envoyer plus de 120 messages, et pour ça ils vous remercient ! (Je présume)</p>
                <p>Sans comptez ceux qui leur ont envoyé leur soutien en passant directement sur le site de <a href="http://marchons.com">marchons.com</a> !</p>
            </div>
        </div>
        <div class="ui segment">
            <h3>Classement</h3>
            <h4>24h Marche</h4>
            <ul>
                <li>Christian ‘Le Fou’ Mauduit est arrivé premier de son épreuve, avec ses 165km et 142m !</li>
            </ul>
            <h4>24h Course</h4>
            <ul>
                <li>1. En 15<sup>ème</sup> position, Pierre ‘Dark Poupou’ Houssin ! Il a parcouru 119km et 402m !</li>
                <li>2. En 16<sup>ème</sup> position, Pauline ‘Queen of the Gif’ Barnouin ! 110km et 654m au compteur !</li>
                <li>3. En 21<sup>ème</sup> position, Robin ‘Not Batman’ Leboeuf ! 101km et 807m !</li>
                <li>4. En 22<sup>ème</sup> position, François(e) ‘Fanch’ Donval ! On a enfin notre réponse : 101km et 218m !</li>
                <li>5. En 23<sup>ème</sup> position, Christophe ‘FREYBLA’ Freihuber ! 100km et 18m !</li>
                <li>6. En 25<sup>ème</sup> position, Alison ‘Pimpante Party Planner’ Eastaway ! 86km et 407m !</li>
                <li>7. En 26<sup>ème</sup> position, Wilfrid ‘The Warrior’ Lancelle ! 83km et 145m !</li>
                <li>8. En 27<sup>ème</sup> position, Stéph ‘Bikette’ Baltus ! 83km et 145m !</li>
                <li>9. En 28<sup>ème</sup> position, Jean-‘The Director’ Louis Bergamo ! 76km et 204m !</li>
            </ul>
        </div> -->
        <div class="ui icon message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    Toi aussi offre ton soutiens à ces braves gens !
                </div>
                <p>
                    Non content de faire des posts TGC absolument épiques, Robin a décidé de retourner à Royan cette année. Il a d'ailleurs profité de l'occasion pour y traîner Kevin, M. Proctool.
                    D'ailleurs personne ne sait si celui-ci était consentant ou non. Et comme Robin aime bien engrainer des gens qui n'ont rien demandé, il a aussi embarqué son père que vous pouvez aussi encourager sur cette page !
                </p>
                <p>Cette année encore nous allons pouvoir les encourager tout au long de cette sublime course ! Pour rappel, l'an passé notre Robin national avait avalé 101km et 807m.</p>
            </div>
        </div>
        <div class="ui segment center aligned">
            <form class="ui form" action="/" method="post">
                <div class="{{ if not .accept }}disabled{{ end }} field">
                    <div class="ui selection dropdown">
                        <input name="athlete" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Athlete</div>
                        <div class="menu">
                            {{ range .athletes }}
                            <div class="item" data-value="{{ .ID }}">{{ .Name }}</div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                
                <div class="{{ if not .accept }}disabled{{ end }} field">
                    <input name="name" placeholder="Name" type="text">
                </div>
                <div class="{{ if not .accept }}disabled{{ end }} field">
                    <input name="mail" placeholder="Mail" type="email">
                </div>
                <div class="{{ if not .accept }}disabled{{ end }} field">
                    <textarea name="message" rows="2" placeholder="Message"></textarea>
                </div>
                <button class="ui button {{ if not .accept }}disabled{{ end }}" type="submit">Envoyer !</button>
            </form>
        </div>
        <!-- <div class="ui icon message">
            <i class="dollar icon"></i>
            <div class="content">
                <div class="header">
                    Sinon tu peux aussi donner des sous à une association !
                </div>
                <p><a href="https://give.everydayhero.com/au/alison-24h" target="_blank">C'est par ici que ça se passe</a></p>
                <p>‘On My Feet’ Australia, aide les SDF à se remettre sur pieds via la course à pied. N’hésite pas à contribuer à cette très belle cause !</p>
            </div>
        </div> -->
        <div class="ui icon message">
            <i class="inbox icon"></i>
            <div class="content">
                <p>Et parce que j'ai codé ce machin à la va vite, <a href="http://francechrono.fr/lesdirects/encourage.php?comp=Royan2017">clique-ici si rien ne marche.</a></p>
                <p>Et le code traine <a href="https://github.com/Depado/royancouragements">quelque part par là.</a></p>
            </div>
        </div>
    </div>
    <script>
        $('.dropdown')
            .dropdown();
        $('.ui.form')
            .form({
                fields: {
                    athlete: 'empty',
                    name: 'empty',
                    mail: 'empty',
                    message: 'empty'
                }
            });
    </script>
</body>

</html>
